<div class="row">
  <div class="col"></div>
  <div class="col">
   <h1>New Restaurant</h1>

    <%= render 'form', restaurant: @restaurant %>

    <%= link_to 'Back', restaurants_path %>
  </div>
  <div class="col"></div>
</div>
