// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$maincolor: #FFFBFE;
$fontcolor: #565254;
$secondary: #D0CFCF;
$tertiary: #7A7D7D;

header, body {
  background-color: $maincolor;
  color: $fontcolor;
}
.btn {
  background-color: $fontcolor;
  color: $maincolor;
}
tr:nth-child(odd) {
  background-color: $tertiary;
  color: $maincolor;
  a {
    color: $maincolor;
  }
}